.popular-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.popular-destiny .destiny .destiny-img {
  width: 100%;
  height: 368px;
}

.popular-destiny .destiny.tokyo .destiny-img {
  background: url("../img/tokyo-mobile.jpg") no-repeat;
  background-size: cover;
}

.popular-destiny .destiny.osaka .destiny-img {
  background: url("../img/osaka-mobile.jpg") no-repeat;
  background-size: cover;
}

.popular-destiny .destiny header h4 {
  margin: 24px 0;
}

.popular-destiny .destiny p {
  margin-bottom: 24px;
}

.destiny .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .popular-destiny {
    width: 648px;
  }

  .popular-destiny .destiny .destiny-img {
    width: 100%;
    height: 452px;
  }

  .popular-destiny .destiny.tokyo .destiny-img {
    background: url("../img/tokyo-tablet-desk.jpg") no-repeat;
    background-size: cover;
  }

  .popular-destiny .destiny.osaka .destiny-img {
    background: url("../img/osaka-tablet-desk.jpg") no-repeat;
    background-size: cover;
  }

  .destiny .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .popular-destiny {
    width: 900px;
  }

  .popular-destiny .destiny .destiny-img {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .popular-destiny {
    width: 1200px;
  }
  .popular-cards {
    flex-direction: row;
  }
}
